<div >
    <div class="item-medium-1__alert" *ngIf="productitem.discount">Sale</div>
    <div class="item-medium-1__image image" [style]="'background-image: url('+productitem.imageurl+')'">
        <a href="#" class="item-medium-1__action" (click)="onaddeditem()">Add to Cart</a>
    </div>
    <a href="#">
        <h4>{{productitem.data[0].name}}</h4>
        <div class="flex-row">
            <div>
                <del *ngIf='productitem.discount'>{{productitem.price | currency:'EGP'}}</del>
                <span class="lable">{{productitem.discount ?(productitem.price-productitem.discount| currency:'EGP'):productitem.price | currency:'EGP' }}</span>
            </div>
        </div>
    </a>
    <div class="crud-actions">
        <a [routerLink]="['/product','details',productitem.id]"><i class="far fa-eye"></i></a>
        <a [routerLink]="['/product','edit',productitem.id ]"><i class="fas fa-edit"></i></a>
        <a [routerLink]="['/product','delete',productitem.id ]"><i class="fas fa-trash-alt"></i></a>
    </div>
</div>
