<!-- <h1>{{title}}{{person}}</h1>
<input [type]="showpassword? 'text':'password'">
<p   [ngClass]="{'password-show':showpassword}" (click)="showpassword=!showpassword"> showpassword</p>



<div [ngSwitch]="number">
    <h1 *ngSwitchCase="1">number one</h1>
    <h2 *ngSwitchCase="2">number one</h2>
    <h3 *ngSwitchDefault>this is default</h3>

</div>

                      <h1 *ngIf="showpassword; else templatEx">show password true</h1>
                      <ng-template #templatEx>
                          <h1>showpassword false</h1>
                      </ng-template> -->

                      <!-- <input #in [(ngModel)]="in.value" (keyup.enter)="check(in.value)" type="text">
                      <input #in type="text" value="hhh">
                      <input #in type="text" value="hhh">
                      <input #in type="text" value="hhh">

                      
                      <h1>{{in.value}}</h1>


                      <button (click)="test(in)" type="button">click on me</button> -->



                      <!-- {
                        id:1 ,
                       data:[{name:'mobile' ,description:'test',lang:{name:'en'}}] ,
                       category:{id:1,name:'food'},
                       tag:[{name:'food'}],
                       paymenttypes:[{name:'CDD'}],
                        price:1000 ,
                        imageurl:'https://picsum.photos/200/300',
                        counter:1},
              
                      {
                        id:2 ,
                        data:[{name:'fridge' ,description:'test',lang:{name:'en'}}] ,
                        category:{name:'food'},
                        tag:[{name:'food'}],
                        paymenttypes:[{name:'CDD'}],
                        price:1000 ,
                        discount: 200,
                        imageurl:'https://picsum.photos/200/200',
                        counter:1},
                      {
                        id:3,
                        data:[{name:'phone' ,description:'test',lang:{name:'en'}}] , 
                        category:{name:'food'},
                        tag:[{name:'food'}],
                        paymenttypes:[{name:'CDD'}],
                        price:9000 ,
                        imageurl:'https://picsum.photos/200/400',
                        counter:1
                      },
                      {
                        id:4,
                        data:[{name:'tablet' ,description:'test',lang:{name:'en'}}] , 
                        category:{name:'food'},
                        tag:[{name:'food'}],
                        paymenttypes:[{name:'CDD'}],
                        price:1000 ,
                        discount: 100,
                        imageurl:'https://picsum.photos/200/100',
                        counter:1
                        },
                      {
                        id:5,
                        data:[{name:'camera' ,description:'test',lang:{name:'en'}}] , 
                        category:{name:'food'},
                        tag:[{name:'food'}],
                        paymenttypes:[{name:'CDD'}],
                       price:5000 ,
                       discount: 100,
                       imageurl:'https://picsum.photos/200/500',
                       counter:1
                      }
                       ,
                      {
                        id:6,
                        data:[{name:'laptop' ,description:'test',lang:{name:'en'}}] , 
                        category:{name:'food'},
                        tag:[{name:'food'}],
                        paymenttypes:[{name:'CDD'}],
                         price:3000 ,
                         discount: 200,
                         imageurl:'https://picsum.photos/200/600',
                         counter:1
                        },
                      {
                        id:7,
                        data:[{name:'pc' ,description:'test',lang:{name:'en'}}] , 
                        category:{name:'food'},
                        tag:[{name:'food'}],
                        paymenttypes:[{name:'CDD'}],
                        price:6000 ,
                        discount: 50,
                        imageurl:'https://picsum.photos/200/700',
                        counter:1
                      },
                      {
                        id:8 ,
                        data:[{name:'ipad' ,description:'test',lang:{name:'en'}}] , 
                        category:{name:'food'},
                        tag:[{name:'food'}],
                        paymenttypes:[{name:'CDD'}],
                         price:10000 ,
                         imageurl:'https://picsum.photos/200/800',
                         counter:1
                        } -->


