.box20{
	width:90%;
	margin:auto;
}
.bigtext{
	font-size:8em;
	text-align:center;
	line-height:0.95em;
	letter-spacing: 0.05em;
	color: transparent;
	-webkit-text-stroke: 0.02em rgba(0,0,0,1);
  margin-bottom:0;
}
p.notfound{
	font-size:3em;
	text-align:center;
}